body {
display: flex;
flex-direction: column;
margin: 0px;
padding: 0px;

}

.header {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    background-color: #1f2937;
    height: 50px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}



.header_logo {
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #f9faf8;
    margin-right: 60px;
}

ul {
    display: flex;
    margin-left:60px;
    gap: 16px;
}

li {
    list-style-type: none;
    color: #e5e7eb;


}

a{
    text-decoration: none;
    color: #e5e7eb;
}

.body_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding:0px;
    margin: 0px;
    height: 30%;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0px;
    padding: 0px;
}

.body_1_left {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 20px;
    padding: 0px;


}

.body_1_text {
    font-size: 18px;
    color: #E5E7Eb;
    margin:0px;
    padding: 0px;
    margin-bottom: 8px;
}

.body_1_button {
    background-color: #3882f6 ;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    width: 100px;
    color:#e5e7eb;
    border: none;
}

.body_1_right {
    display: flex;
    align-items: center;
    justify-content: center;
    height:200px;
    width: 300px;
    margin-left:20px;
    background-color: #E5E7Eb;
}

.body_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:30%;
    width:100%;
}

.body_2_head {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.body_images, .body_texts{
    display: flex;
    justify-content:center;

}

.body_images {
    gap: 15px;
}

.body_texts {
    gap:22px;
}


.image_divs {
    height: 100px;
    width: 100px;
    background-color: #E5E7Eb ;
    border: solid;
    border-color: #3882f6;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}


.text_divs {
    height: 100px;
    width: 100px;
    display: flex;
    gap: 20px;
    text-align: center;
}


.body_3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:50%;
    width:100%;
    background-color: #e5e7eb;
}

.quote {
    width: 460px;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;

}


.quote_text {
    padding:0px;
    margin: 0px;;
}
.quote_author {
    display: flex;
    width:460px;
    justify-content: right;
    padding-top: 0px;
    margin-top: 0px;
}

.quote_text  {
    font-size: 22px;
    font-style: italic;
    font-weight: 200;
    color:#1f2937;
}

.thor {

    font-size: 22px;
    font-weight: 550;
    color:#1f2937;
}

.body_4 {
    display: flex;
    justify-content: center;
    height:50%;
    width:100%;

}


.stuff {
    display: flex;
    justify-content: center;
    height: 50%;
    width: 60%;
    background-color: #3882f6;
    margin-top: 5%;
    margin-bottom: 5%;
    gap:15px;
    border-radius: 15px;
}

.btn_2 {
    background-color: #3882f6 ;
    padding: 5px;
    border-radius: 15px;
    width: 100px;
    color:#e5e7eb;
    border: solid;
    border-color: #f9faf8;
}

.text_s {
color:#f9faf8;
margin-bottom: 0px;
padding-bottom: 0px;
}

.btn_2_div {
    display: flex;
    align-items: center;
}

.text_w {
font-weight: 550;
}